$active-btn-text-color: #FFFF;
$btn-text-color: #4A4A4A;
// $font-family_1: Open Sans, system-ui;
$background-color_active: #2196F3;
$background-btns-color: #FFFF;
$border-color: #DFE5EC;

.sort-buttons {
	display: flex;
	justify-content: space-around;
	width: 504px;
	height: 50px;
	border-radius: 5px;
	background: $background-btns-color;
	> :first-child > button {
			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
		}
	> :last-child > button {
			border-bottom-right-radius: 5px;
			border-top-right-radius: 5px;
		}
}
.sort-buttons__item {
	flex-grow: 1;
}
.sort-button {
	width: 100%;
	height: 100%;
	background: $background-btns-color;
	border: solid 1px $border-color;
	color: $btn-text-color;
	text-align: center;
	// font-family: $font-family_1;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
		&:hover {
			cursor: pointer;
		}
}
.active {
	color: $active-btn-text-color;
	background-color: $background-color_active;
}