.flight-info_priceLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.flight-prise {
  color: var(--Primary-Colors-Primary-500, #2196F3);
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
}
.flight-info__details {
  display:flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.flight-info__details > li{
  margin-right: 75px
}
.flight-card {
  border-radius: 5px;
  background-color:#FFF;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.10));
  text-align: start;
  padding: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px
}