.flight-info__details {
  display:flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.flight-info__top {
  color: #A0B0B9;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.flight-info__bottom {
  color: #4A4A4A;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 150% */
}
.flight-info__details > li{
  margin-right: 75px
}