$flght-crd-shdw: #0000001a;
$flght-crd-bgnd: #FFF;
$flght-prc-text: #2196F3;

.flight-body_priceLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.flight-prise {
  color: $flght-prc-text;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.flight-card {
  border-radius: 5px;
  background-color: $flght-crd-bgnd;
  filter: drop-shadow(0px 2px 8px $flght-crd-shdw);
  text-align: start;
  padding: 20px;
  padding-bottom: 10px;
  margin-top: 20px
}