$font-family_1: Open Sans, system-ui;
$app-bgnd: #F3F7FA;

.App {
	text-align: center;
	background: $app-bgnd;
	min-height: 100vh;
	font-family: $font-family_1;
	&__content {
		display: flex;
		justify-content: center;
    &-wrapper {
      width: 1145px;
      display: flex;
      justify-content: center;
    }
	}
	&__header {
    padding: 35px 0;
	}
}