.filter-box {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
  width: 232px;
  height: max-content;
}
.filter-box__title {
  margin-top: 20px;
  color: #4A4A4A;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.filter-box__checkbox {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 10px 0;
}
.filter-box__checkbox-item {
  display: flex;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  align-items: center;
  &:hover {
    background: #F1FCFF;
    color: #4A4A4A;
  }
}
input {
  color: #9ABBCE;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  &:checked {
    background-color: #F1FCFF
    // background-color: #2196F3; 
  }
}
.filter-box__checkbox-item > label{
  display: flex;
  margin-left: 20px;
  align-items: center;
}
input,
.filter-box__checkbox-item,
.filter-box__checkbox-item > label:hover {
  cursor: pointer;
}